@font-face {
  font-family: 'NOTHS 2 Regular';
  src: url('../fonts/noths_sans_2_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/noths_sans_2_regular.woff') format('woff'),
  url('../fonts/noths_sans_2_regular.ttf')  format('truetype');
}@font-face {
  font-family: 'NOTHS 2 Bold';
  src: url('../fonts/noths_sans_2_semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/noths_sans_2_semibold.woff') format('woff'),
  url('../fonts/noths_sans_2_semibold.ttf')  format('truetype');
}@font-face {
  font-family: 'NOTHS 3 Regular';
  src: url('../fonts/noths_sans_3_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/noths_sans_3_regular.woff') format('woff'),
  url('../fonts/noths_sans_3_regular.ttf')  format('truetype');
}

html {
  height: 100%;
}

body {
  font-family: "NOTHS 3 Regular";
  font-style: normal;
  color: #555;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100%;
}

.order_display {
  position: relative;
  width: 50%;
  overflow: hidden;
  height: 100%;
  float: left;
  background-size: 100% 100%;
}

@media (max-width: 767px) {
  .order_display {
    width: 100%;
    float: none;
  }
}

.order_display_uk {
  background-image: url('../images/ukflag.png');
}

.order_display_de {
  background-image: url('../images/deflag.png');
}

.order_display_uk .ttv .USD,
.order_display_uk .ttv .AUD,
.order_display_uk .ttv .EUR {
  display: none;
}

.order_display_de .ttv .USD,
.order_display_de .ttv .AUD,
.order_display_de .ttv .GBP {
  display: none;
}

.order {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  transition: transform 1s, opacity 1s;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  padding: 85px 0;
  transform: translate3d(210%, 0, 0);
  -webkit-transform: translate3d(210%, 0, 0);
  max-height: 75%;
}

@media (max-width: 767px) {
  .order {
    width: 80%;
    transform: translate3d(130%, 0, 0);
    -webkit-transform: translate3d(130%, 0, 0);
  }
}

.order.current {
  transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
}

@media (max-width: 767px) {
  .order.current {
    transform: translate3d(12.5%, 0, 0);
    -webkit-transform: translate3d(12.5%, 0, 0);
  }
}

.order.old {
  transform: translate3d(-110%, 0, 0);
  -webkit-transform: translate3d(-110%, 0, 0);
}

@media (max-width: 767px) {
  .order.old {
    transform: translate3d(-102%, 0, 0);
    -webkit-transform: translate3d(-102%, 0, 0);
  }
}


.order_details {
  position: relative;
  width: 100%;
  background: white;
  padding: 15px;
  padding-bottom: 30px;
  border: 1px solid #ECECEC;
}

.order_details:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -4px;
  right: 5px;
  bottom: -3px;
  z-index: -1;
  background: #eae8e6;
  display: none\0;
  transform: rotate(3.3deg);
  -ms-transform: rotate(3.3deg);
  -webkit-transform: rotate(3.3deg);
  background: #056582;
}

.order_details .product_title {
  font-family: "NOTHS 2 Regular";
  font-size: 22px;
  color: #056582;
  margin-bottom: 10px;
}

.order_details .product_image {
  max-height: 70%;
  max-width: 100%;
  display: block;
  margin: 0 auto 15px;
}

.order_details .total_price {
  color: #15B015;
  font-size: 20px;
  float: right;
}

.logo {
  width: 150px;
  position: absolute;
  left: 4px;
  top: 4px;
}

header {
  background: rgb(126, 125, 125);
  z-index: 1;
  position: relative;
  height: 50px;
  text-align: center;
  box-shadow: inset 0px -4px 7px -6px black;
  padding: 9px;
}

header h1 {
  color: white;
  font-size: 30px;
}

@media (max-width: 767px) {
  header h1 {
    text-align: right;
  }
}

.ttv {
  color: #15B015;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,0.6);
  padding: 20px 40px;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 767px) {
  .stats {
    font-size: 6vw;
    padding: 5%;
  }
}

.stats .order_count {
  display: block;
  float: right;
}

.stats .ttv {
  float: left;
}
