@font-face {
  font-family: 'NOTHS 2 Regular';
  src: url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_2_regular.eot?#iefix') format('embedded-opentype'),
  url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_2_regular.woff') format('woff'),
  url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_2_regular.ttf')  format('truetype');
}@font-face {
  font-family: 'NOTHS 2 Bold';
  src: url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_2_semibold.eot?#iefix') format('embedded-opentype'),
  url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_2_semibold.woff') format('woff'),
  url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_2_semibold.ttf')  format('truetype');
}@font-face {
  font-family: 'NOTHS 3 Regular';
  src: url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_3_regular.eot?#iefix') format('embedded-opentype'),
  url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_3_regular.woff') format('woff'),
  url('http://www.notonthehighstreet.com:80/stylesheets/fonts/noths_sans_3_regular.ttf')  format('truetype');
}

body {
  font-family: "NOTHS 3 Regular";
  font-style: normal;
  color: #555;
  background-color: #f9f9f9;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.main {
  overflow: hidden;
}

#order_display {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 690px;
  border-bottom: 2px solid #E7E6DD;
  background-color: #f4f4f4;
}

.order {
  position: absolute;
  height: 650px;
  width: 480px;
  left: 0;
  top: 0;
  transition: transform 1s cubic-bezier(.1, .1, .35, .8), opacity 1s;
  padding: 40px 0;
}

.order.old {
  opacity: 0.7;
}

.order_details {
  position: relative;
  width: 100%;
  height: 610px;
  background: white;
  padding: 15px;
  border: 1px solid #ECECEC;
}

.order_details:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -4px;
  right: 5px;
  bottom: -3px;
  z-index: -1;
  background: #eae8e6;
  display: none\0;
  transform: rotate(3.3deg);
  -ms-transform: rotate(3.3deg);
  -webkit-transform: rotate(3.3deg);
  background: #056582;
}

.order_details .product_title {
  font-family: "NOTHS 2 Regular";
  font-size: 32px;
  color: #056582;
  margin-bottom: 10px;
}

.order_details .product_image {
  max-height: 450px;
  max-width: 100%;
  display: block;
  margin: 0 auto 15px;
}

.order_details .total_price {
  color: #15B015;
  font-size: 20px;
  float: right;
}

.logo {
  width: 270px;
  margin: 16px auto;
  display: block;
  display: none;
}

.today_modules {
  overflow: hidden;
  background-color: #f9f9f9;
  font-size: 16px;
  padding: 35px 0;
  width: 1110px;
  padding-bottom: 55px;
  margin: auto;
}

.today {
  width: 45%;
}

.today .today_title {
  font-family: "NOTHS 2 Regular";
  font-size: 45px;
  text-align: center;
  margin-bottom: 18px;
}

.today_details {
  border: 2px solid rgb(195, 195, 195);
  background: white;
  height: 300px;
  padding: 20px;
  border-radius: 8px;
}

.ttv {
  color: #15B015;
}

#uk_today {
  float: left;
}

#uk_today .EUR, #uk_today .AUD, #uk_today .USD {
  display: none;
}

#de_today {
  float: right;
}

#de_today .GBP, #de_today .AUD, #de_today .USD {
  display: none;
}
